<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" >
</head>
<body>
    <div class="row navbar-fixed-bottom">
        <div class="col-xs-12 text-center" style="padding: 10px 0;background-color: black;color: yellow">
            Copying @2017 Luzan.com Inc All Rights Reserved.路赞杂志社 版权所有
        </div>
    </div>
</body>
</html>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
