<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>公共头部</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" >
    <style type="text/css">
        *{margin: 0;padding: 0;border: 0;}
        a{text-decoration: none;}
        body{
            font-family: "微软雅黑";
        }
        .head{
            background-color: #3b4249;
            color: white;
            line-height: 50px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-inverse" style="margin-bottom: 0;border:none;">
                <div class="container-fluid">
                    <div class="row head">
                        <div class="navbar-header col-sm-3">
                            <span class="h4">路赞后台管理系统</span>
                        </div>
                        <div class="collapse navbar-collapse col-sm-3 col-sm-offset-6" >
                            <ul class="nav navbar-nav">
                                <li><span class="glyphicon glyphicon-user"></span></li>
                                <li><a href="#">欢迎{{ currentAdmin }}</a></li>
                                <li><span class="glyphicon glyphicon-hand-right"></span></li>
                                <li><a href="/admin/loginout">退出</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</body>
</html>